{% extends "layout.njk" %}

{% block head %}
    <title>Professores</title>
{% endblock %}

{% block content %}

    <div class="card">
        <div class="imagens">

    </div>
        <div class="detalhes">
            <h3>Informações</h3>
            <div class="item">
                <div>Nome Completo</div>
                <div>Patrick Campos Porot</div>
            </div>
            <div class="item">
                <div>Idade</div>
                <div>23 anos</div>
            </div>
            <div class="item">
                <div>
                    Grau escolaridade</div>
                <div>
                    Ensino superior</div>
            </div>
            <div class="item">
                <div>Tipo de aula</div>
                <div>Presencial</div>
            </div>
            <div class="item">
                <div>Acompanhamento</div>
                <span>sasas</span>
                <span>sasas</span>
                <span>sasas</span>
            </div>
            <div class="item">
                <div>Desde</div>
                <div>21/21/2121</div>
            </div>
        </div>
    </div>

{% endblock %}