{% extends "layout.njk" %}

{% block head %}
    <title>Professores</title>
{% endblock %}

{% block content %}
<form action="/teachers" method="post">
 {%include 'teachers/fieldsEdit.njk'%}
  </form>

{% endblock %}