<div class="card">
    <div class="imagens"></div>
    <div class="detalhes">
        <h3>Informações</h3>
        <div class="item">
            <div>Nome Completo</div>
            <div>{{teacher.name}}</div>
        </div>
        <div class="item">
            <div>Idade</div>
            <div>{{teacher.birth_date}}</div>
        </div>
        <div class="item">
            <div>
                Grau escolaridade</div>
            <div>{% switch teacher.education_level %}
                {% case  'EM'%}
                    Ensino médio
                    {% case 'ES'%}
                        Ensino superior
                        {% case 'M'%}
                            Mestrado
                            {% case 'D'%}
                                Doutorado
                                {% default%}
                                Grau
                                {%endswitch%}
                            </div>
                        </div>
                        <div class="item">
                            <div>Tipo de aula</div>
                            {%switch teacher.class_type%}
                            {%case 'P'%}
                                <span>Presencial</span>
                                {%case 'D'%}
                                    <span>À distancia</span>
                                    {%default%}
                                    Tipo de aula
                                    {% endswitch%}
                                </div>
                                <div class="item">
                                    <div>Acompanhamento</div>
                                    {%for materia in teacher.subjects_taught%}
                                    <span>{{materia}}</span>
                                    {%endfor%}
                                </div>
                                <div class="item">
                                    <div>Desde</div>
                                    <div>{{teacher.created_at}}</div>
                                </div>
                                <a href='/teachers/{{teacher.id}}/edit'>Editar</a>
                            </div>
                        </div>