{% extends "layout.njk" %}

{% block head %}
    <title>Professores</title>
{% endblock %}

{% block content %}
    <div class="card table-container">
        <div class="search">
    <a href="/teachers/{{teacher.id}}">Ver</a> 
    <div>
        <form action="/teachers" method="get">
        <input type="text" placeholder='escreve' name='filter' value='{{filter}}'>
        <button type="submit">Filtrar</button>
        </form>
    </div>
        </div>


        <table  width='100%'>
            <thead>
                <tr>
                    <th>Professor</th>
                    <th>Acompanhamento</th>
                      <th>Qtd alunos</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {%for teacher in teachers%}
                    <td>
                        <span style='background: url({{teacher.avatar_url}})'></span>
                        {{teacher.name}}
                    </td>
                    <td>
                        {{teacher.acompanhamento}}
                    </td>
                    <td>{{teacher.total_students}}</td>
                    <td><a href="/teachers/{{teacher.id}}">Ver</a> </td>
                </tr>
                     {%endfor%}
               
            </tbody>
        </table>
    </div>
     <script src="/scripts.js"></script>
{% endblock %}